version: 2
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:2.1
    environment:
      - DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - run:
          name: Install unzip
          command: |
            apt-get update
            apt-get install -y unzip
      - run:
          name: Install OpenSSH and Git
          command: apt-get update && apt-get install -y openssh-client git
      - checkout
      - run: ./build.sh --target=restore
      - run: ./build.sh --target=generate
      - run: ./build.sh --target=build
      - run: ./build.sh --target=test
