<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="API_KEY" />
		<add key="AccountId" value="ACCOUNT_ID" />
		<add key="MerchantId" value="cf51f0ec-6078-46e9-a796-700af25e668c" />
		<add key="Id" value="cf51f0ec-6078-46e9-a796-700af25e668c" />
		<add key="UserId" value="billjones1@example.com" />
		<add key="SendTo" value="billjones1@example.com" />
		<add key="WorkflowRunId" value="6dbq76qbaaaaa" />
		<add key="user_id" value="billy_jones_301" />
		<add key="session_id" value="gigtleqddo84l8cm15qe4il" />
		<add key="user_email" value="billjones1@example.com" />
		<add key="referrer_user_id" value="janejane101" />
		<add key="promotion_id" value="FirstTimeBuyer" />
		<add key="merchant_id" value="AX527123" />
		<add key="item_id" value="B004834GQO" />
		<add key="order_id" value="ORDER-123124124" />
		<add key="transaction_id" value="719637215" />
		<add key="content_id" value="comment-23412" />
		<add key="root_content_id" value="listing-12923213" />
		<add key="md5_hash" value="0cc175b9c0f1b6a831c399e269772661" />
		<add key="contact_email" value="alex_301@domain.com" />
		<add key="flagged_by" value="jamieli89" />
		<add key="seller_user_id" value="slinkys_emporium" />
		<add key="webhook_id" value="3ff1082a4aea8d0c58e3643ddb7a5bb87ffffeb2492dca33" />
	</appSettings>
</configuration>