<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ApiKey" value="ccd68efbe25809bc" />
		<add key="AccountId" value="5f053f004025ca08a187fad3" />
		<add key="MerchantId" value="cf51f0ec-6078-46e9-a796-700af25e668c" />
		<add key="Id" value="cf51f0ec-6078-46e9-a796-700af25e668c" />
		<add key="UserId" value="haneeshv@exalture.com" />
		<add key="SendTo" value="binishb@exalture.com" />
		<add key="WorkflowRunId" value="6dbq76qbaaaaa" />
		<add key="user_id" value="billy_jones_301" />
		<add key="session_id" value="gigtleqddo84l8cm15qe4il" />
		<add key="user_email" value="billjones1@example.com" />
		<add key="referrer_user_id" value="janejane101" />
		<add key="promotion_id" value="FirstTimeBuyer" />
		<add key="merchant_id" value="AX527123" />
		<add key="item_id" value="B004834GQO" />
	</appSettings>
</configuration>